
body {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DFftpapOMbCA&psig=AOvVaw1zoiqdxUnF0H_fOpvbovwv&ust=1637704214009000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNC6x_H5rPQCFQAAAAAdAAAAABAK");
}
h1 {
text-align:center;
  border: 5px solid CornflowerBlue;
  border style: rounded;
}
  

h2 {
 
}
ul { 
}

ul li { 
  list-style: square;
  
}

ul li a { 
  text-decoration: none;
  border: 2px solid CornflowerBlue;
}
